/* Apply theme globally */
[data-theme="light"] {
  --background-color: white;
  --text-color: black;
}

[data-theme="dark"] {
  --background-color: black;
  --text-color: white;
}

/* Apply to full page */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
